body{
  background: burlywood;
}

header {
  background-color:  #6c757d;
  padding: 10px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: Asap, sans-serif;
}

/* home knapp*/
.button {
  background-color: #4CAF50;
  border:1px solid blueviolet;
  border-radius: 8px;
  position: absolute;
  left:60px;
  top:20px;
  color:white;
  padding:8px;
  margin-bottom:7px;
  text-align: center;
}

/*Ram egenskaper*/
.frame1{
  text-align: center;
  background-color: #6c757d ;
  height: 200px;
  width:500px;
  position: relative;
  left: 560px;
  border-radius: 10px;
}
.frame2{
  text-align: center;
  background-color: #6c757d ;
  height: 1000px;
  width:500px;
  position: relative;
  left: 560px;
  border-radius: 10px;
}

/* text som dyker upp efter att man regidtrerat sig som följare eller inte */
#text {
  font-style: oblique;
  text-align: center;
  border: 1px solid forestgreen;
  width: 300px;
  height: 60px;
  padding: 5px;
  background-color: yellow;
  border-radius: 9px;
  position: relative;
  left: 100px;
}
#text1 {
  font-style: oblique;
  text-align: center;
  border: 1px solid forestgreen;
  width: 300px;
  height: 60px;
  padding: 15px;
  background-color: yellow;
  border-radius: 9px;
  position: relative;
  left: 100px;
}

/* List egenskaper*/
#game-list{
  text-align: left;
  background-color: #2be2ae;
  width: 400px;
  height: 590px;
  overflow: auto;
  border-radius: 8px;
  position: relative;
  left: 50px;
}

/*bild egenskaper*/
.img{
  width:150px;
}

/* Refresh och Start knapp egenskaper*/
.refre, .startGame{
  border:1px solid blueviolet;
  border-radius: 8px;
  background-color: #4CAF50;
  color:white;
  padding:8px;
  margin-bottom:7px;
}
.pushGame{
  border-radius: 5px;
  font-style: oblique;
  font-weight: bold;
}



/*Footer egenskaper*/
.site-footer {
  height: 200px;
  width:500px;
  position: relative;
  left: 560px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

/* display egenskaper*/
@media (max-width:1100px) {
  .frame1 {
    position: relative;
    left: 20px;
    top: 170px;
  }
  .frame2{
    position: relative;
    left: 20px;
    top: 170px;
  }
  .button {
    position: absolute;
    top: 170px;
    left: 20px;
  }
  .site-footer{
    position: relative;
    left: 20px;
    top: 170px;
  }
}
@media (max-width:780px){
  .frame2, .site-footer{
    position: relative;
    left: 20px;
    top: 170px;
    width: 500px;
  }
  #game-list{
    position: relative;
    left: 50px;
  }

}
@media (max-width:520px) {
  .frame1, .frame2, .site-footer {
    position: relative;
    left: 10px;
    top: 170px;
    width: 281px;
  }
  #game-list {
    width: 258px;
    position: relative;
    left: 11px;
  }
  .site-footer {
    height: 235px;
  }
  #text {
    width: 258px;
    position: relative;
    left: 11px;
  }
}
