@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: burlywood;
}

header {
  background-color:  #6c757d;
  padding: 10px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: Asap, sans-serif;
}

/* Home menu egenskaper*/
.button {
  background-color: #4CAF50;
  border:1px solid blueviolet;
  border-radius: 8px;
  position: absolute;
  left:60px;
  top:20px;
  color:white;
  padding:8px;
  margin-bottom:7px;
  text-align: center;
}

/* Knapar som ligger i class 'Choice' rock paper scissors*/
.button1,.button2,.button3 {
  background-color: #4CAF50;
}
.button1:hover,.button2:hover,.button3:hover{
  background: chocolate;
  border:1px solid red;
  transition: all 0.3s ease;
}

/* Restart knapp egenskaper*/
.button4{
  padding:10px;
  border:1px solid blueviolet;
  background: #4CAF50;
  color:black;
  border-radius: 8px;
}
.button4:hover{
  background: red;
}
.button4:active{
  color: white;
}
.avslut{
  position: relative;
  bottom: 40px;
  margin: 20px;
  text-align: center;
}

/* Resultattavlans egenskaper*/
.score-board {
  margin: 20px auto;
  border: 3px solid green;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
}

/* placering spelare, placering comp*/
.badge1, .badge2 {
  background-color:cornflowerblue ;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
  border-radius: 5px;
}
#user1-label {
  font-size: 20px;
  position:absolute ;
  top: 30px;
  left: -170px;
}
#user2-label{
  font-size: 20px;
  position: absolute;
  right: -170px;
  top:30px;
}

/* resulta om vinst eller förlust visas här*/
.res_label{
  width:180px;
  position: relative;
  right: 12px;
  border-radius: 8px;

}
/*här ska visas din val*/
.result {
  font-size: 30px;
  color: black;
}
.result > p{
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}
.result,input{
  text-align: center;
}
#player1-move{
  color: #006450;
  border-radius: 10px;
  position: relative;
  right: 120px;
  bottom:20px;
  width:170px;
  height: 10%;
}
#player2-move{
  color: #006450;
  border-radius: 10px;
  position: relative;
  left: 120px;
  bottom:20px;
  width:170px;
  height: 10%;
}

/* Rock Paper Scissors knapp egenskaper*/
.choices {
  text-align: center;
  margin-bottom:50px;
}
.choice {
  padding:40px;
  display: inline-block;
}


#action-message {
  position: relative;
  bottom: 40px;
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top:10px;
}
footer {
  width:60%;
  margin:30px auto;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

/* The Close Button in modal2 modal3 (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

@media (max-width:767px) {
  #user1-label {
    position:absolute ;
    left:-40px;
    top: 110px;
  }
  #user2-label{
    position: absolute;
    right:-40px;
    top: 110px;
  }
  #player1-move{
    position: relative;
    right: 10px;
    top: 35px;
  }
  #player2-move{
    position: relative;
    left:10px;
    top: 35px;
  }
  .result > p{
    position: relative;
    top:30px;
  }
  .button{
    position: absolute;
    top: 120px;
    left: 20px;
  }
  header{
    margin-left: 10px;
  }

}
@media (max-width:500px){
  header{
    margin-left: 5px;
  }
  .score-board{
    position: relative;
    top:20px;
  }
}


