
body {
  background-image: url(../../rock-paper-scissors/img/Rock-Paper-Scissors.jpg);
  background-size:100% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* använder som fyllnadsmassa för att sänka ner footer*/
.centerbody{
  height: 400px;
}

/*egenskaper på dropmeny*/
.dropdown-menu{
  border-color: #5f9ea0;
  border-radius: 10px;
  background-color: #64c2ed;
  position: relative;
  left:20px;
  height: 90px;
  width:200px;
}

.dropdown-menu > a:hover{
  background-color:blueviolet!important;
}

.dropdown-item{
  border-bottom:1px solid;
}

/*aside egenskaper*/
.rule{
  border: 1px solid blueviolet;
  border-radius: 10px;
  width:25%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}


/*section bredd samt sections och footer placering*/
.width{width:45%!important;}
.container{col: align-self-center!important; }

/*text*/
.text-center{text-align: center!important;}

/*links*/
.text-decoration-none{text-decoration: none!important;}

/*utanför medium*/
.d-block{display: block!important;}

/*Footer egenskaper*/
.site-footer {
  border: 1px solid blueviolet;
  line-height: 100%;
  width:45%;
  padding:20px 0 20px;
  font-size:15px;
  color: #343a40;
}
/*Linjen som delar av footern*/
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
/*Rubrik-inställningar (footer)*/
.site-footer h6
{
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
/*Länkar (footer)*/
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  opacity: 0.80!important;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links a
{
  color: #343a40;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  opacity: 0.80!important;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
/*Display ändrar sig vid olika situationer*/
@media (max-width:800px){
  section{
    position: relative;
    left: 1px;
  }
  .rule{
    position: relative;
    right: 40px;
    width: 80%;
  }
  .site-footer{
    position: relative;
    left: 10px;
    width: 80%;
  }
}






